info_external_websites/Springest/product_2_1.xsd

<!-- 
Some notes for program.xsd

All xml elements need to start with an uppercase letter.
All xml values need to be lower capital letters

 -->


<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Products">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Product" maxOccurs="unbounded">
          <xs:complexType>
            <xs:all>
              <xs:element type="xs:string" name="ID" minOccurs="1"/>
              <xs:element type="xs:string" name="Description" minOccurs="1">
                 <xs:annotation>
                  <xs:documentation>Description needs a minimum of 150 words</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element type="xs:string" name="Name" minOccurs="1"/>  
              <xs:element name="Images">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:anyURI" name="ImageUrl" maxOccurs="unbounded" minOccurs="0">
                      <xs:annotation>
                        <xs:documentation>Escaped characters are not allowed, uncoded URL is required</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:anyURI" name="VideoEmbed">
                <xs:annotation>
                  <xs:documentation>include any YouTube or Vimeo URL</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element type="xs:string" name="Language" minOccurs="1"/>
              <xs:element type="xs:decimal" name="Price" minOccurs="1">
                <xs:annotation>
                  <xs:documentation>Set price to 0, if the course is free</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="VatIncluded" minOccurs="1">
              <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:enumeration value="no" />
                    <xs:enumeration value="exempt" >
                      <xs:annotation>
                        <xs:documentation>When value = "no" then VatAmount must be bigger than 0</xs:documentation>
                      </xs:annotation>
                    </xs:enumeration>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="VatAmount" type="xs:decimal" minOccurs="0"/>
              <xs:element name="PriceExemptAmount" type="xs:decimal" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Only use "PriceExemptAmount", if another price amount exempt VAT is used for corporate clients and/or Go sites (like AEGON)</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="PricePeriod" minOccurs="1">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:enumeration value="all"/>
                    <xs:enumeration value="yearly"/>
                    <xs:enumeration value="monthly"/>
                    <xs:enumeration value="daily" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="PriceAgreement" minOccurs="0">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:enumeration value="true"/>
                    <xs:enumeration value="false"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="AdditionalCosts">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="AdditionalCost" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:all>
                          <xs:element name="Type">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:enumeration value="examination"/>
                                <xs:enumeration value="excursions"/>
                                <xs:enumeration value="lunch"/>
                                <xs:enumeration value="dinner"/>
                                <xs:enumeration value="registration fee"/>
                                <xs:enumeration value="study material"/>
                                <xs:enumeration value="visa/permit"/>
                                <xs:enumeration value="coaching" />
                                <xs:enumeration value="accommodation" />
                                <xs:enumeration value="arrangement"/>
                                <xs:enumeration value="second accommodation"/>
                                <xs:enumeration value="other"/> <!-- only use value 'other' in conjuction with TypeOther(below) to specify own costtype-->
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="TypeOther" minOccurs="0">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:maxLength value="250"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="Price" type="xs:decimal"/> 
                          <xs:element name="VatIncluded">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:enumeration value="no" />
                                <xs:enumeration value="exempt" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="VatAmount" type="xs:decimal"/>
                          <xs:element name="PriceExemptAmount" type="xs:decimal" minOccurs="0"/>
                          <xs:element name="VATExemptAmount" type="xs:decimal" minOccurs="0"/>
                          <xs:element name="Mandatory">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:enumeration value="true"/>
                                <xs:enumeration value="false"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                        </xs:all>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="PriceComplete" minOccurs="1">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:enumeration value="true"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="PriceInfo" minOccurs="0">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="250"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="Trainers" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Trainer" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="Email"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="CourseType" minOccurs="1">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:enumeration value="course" />
                    <xs:enumeration value="educational program" />
                    <xs:enumeration value="seminar" />
                    <xs:enumeration value="training" />
                    <xs:enumeration value="workshop" />
                    <xs:enumeration value="video" />
                    <xs:enumeration value="book" />
                    <xs:enumeration value="event" />
                    <xs:enumeration value="webinar" />
                    <xs:enumeration value="test" />
                    <xs:enumeration value="coaching" />
                    <xs:enumeration value="treatment" />
                    <xs:enumeration value="opleiding" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element type="xs:double" name="Duration" minOccurs="1"/>
              <xs:element name="DurationUnit" minOccurs="1">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:enumeration value="minutes" />
                    <xs:enumeration value="hours" />
                    <xs:enumeration value="days" />
                    <xs:enumeration value="weeks" />
                    <xs:enumeration value="months" />
                    <xs:enumeration value="years" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="DurationAgreement" minOccurs="0">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:enumeration value="true"/>
                    <xs:enumeration value="false"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="Runtime" minOccurs="0">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="250"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="Completion" minOccurs="0">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="250"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="ExtraInstructionsAfterBooking" minOccurs="0">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="1000"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element type="xs:integer" name="MaxParticipants" minOccurs="0"/>
              <xs:element name="ParticipantsAgreement" minOccurs="0">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:enumeration value="true"/>
                    <xs:enumeration value="false"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element type="xs:anyURI" name="WebAddress" minOccurs="1"/>
              <xs:element type="xs:anyURI" name="PdfBrochure" minOccurs="0"/>
              <xs:element name="ContactPerson" minOccurs="0">
                <xs:complexType>
                  <xs:all>
                    <xs:element type="xs:string" name="Name"/>
                    <xs:element type="xs:string" name="Telephone"/>
                    <xs:element name="EmailAddress">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:pattern value="[^@]+@[^\.]+\..+"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:all>
                </xs:complexType>
              </xs:element>
              <xs:element name="ProductType" minOccurs="1">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:enumeration value="home" />
                    <xs:enumeration value="open" />
                    <xs:enumeration value="in-company" />
                    <xs:enumeration value="elearning" />
                    <xs:enumeration value="book" />
                    <xs:enumeration value="group" />
                    <xs:enumeration value="event" />
                    <xs:enumeration value="learning_bite" />
                    <xs:enumeration value="test" />
                    <xs:enumeration value="coaching" />
                    <xs:enumeration value="treatment" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="AllowedSites">
                <xs:annotation>
                  <xs:documentation>Only set values for group products</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Go" minOccurs="0" maxOccurs="unbounded">
                      <xs:annotation>
                        <xs:documentation> This list is not all inclusivae since there are over 250 domains. For missing domains please contact datasupport@springest.com</xs:documentation>
                      </xs:annotation>
                      <xs:simpleType> 
                        <xs:restriction base="xs:string">
                          <xs:enumeration value="aegon" />
                          <xs:enumeration value="alliander" />
                          <xs:enumeration value="bavaria" />
                          <xs:enumeration value="carglass" />
                          <xs:enumeration value="hetcak" />
                          <xs:enumeration value="hu" /> <!-- hoge school utrecht -->
                          <xs:enumeration value="menzis" />
                          <xs:enumeration value="nn" /> <!-- nationale nederlanden -->
                          <xs:enumeration value="postnl" />
                          <xs:enumeration value="siemens" />
                          <xs:enumeration value="stork" />
                          <xs:enumeration value="vvaa" />
                          <xs:enumeration value="vattenfall_nl" />
                          <xs:enumeration value="unie" />
                          <xs:enumeration value="fkb" />
                          <xs:enumeration value="tvm" />
                          <xs:enumeration value="ing" />
                          <xs:enumeration value="sns" />
                          <xs:enumeration value="ns" />
                          <xs:enumeration value="essent" /> <!-- for innogy nl/essent -->
                          <xs:enumeration value="innogy" /> <!-- for innogy SE -->
                          <xs:enumeration value="rwe" />
                          <xs:enumeration value="bam" />
                          <xs:enumeration value="t_mobile" />
                          <xs:enumeration value="onvz" />
                          <xs:enumeration value="vanlanschotkempen"/>
                          <xs:enumeration value="vivat" />
                          <xs:enumeration value="hollandcasino"/>
                          <xs:enumeration value="weiterbildung" />
                          <xs:enumeration value="sweco" />
                          <xs:enumeration value="setarnv" />
                          <xs:enumeration value="ns" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Regions" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Region" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:all>
                          <xs:element type="xs:string" name="Country"/>
                          <xs:element type="xs:string" name="Name"/>
                        </xs:all>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Level" minOccurs="0">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:enumeration value="MBO" />
                    <xs:enumeration value="HBO" />
                    <xs:enumeration value="VMBO+" />
                    <xs:enumeration value="MBO+" />
                    <xs:enumeration value="VMBO" />
                    <xs:enumeration value="HBO+" />
                    <xs:enumeration value="WO" />
                    <xs:enumeration value="Master" />
                    <xs:enumeration value="Bachelor" />
                    <xs:enumeration value="MBA" />
                    <xs:enumeration value="Universität / Master" />
                    <xs:enumeration value="Freizeit" />
                    <xs:enumeration value="Fachhochschule / Master" />
                    <xs:enumeration value="Fachhochschule / Bachelor" />
                    <xs:enumeration value="Universität / Bachelor" />
                    <xs:enumeration value="Weiterbildungen" />
                    <xs:enumeration value="Meister" />
                    <xs:enumeration value="MBA" />
                    <xs:enumeration value="Undergraduate / Bachelor" />
                    <xs:enumeration value="Postgraduate / Master" />
                    <xs:enumeration value="Vocational" />
                    <xs:enumeration value="Vocational: Level 1" />
                    <xs:enumeration value="Vocational: Level 2" />
                    <xs:enumeration value="Vocational: Level 3" />
                    <xs:enumeration value="Vocational: Level 4" />
                    <xs:enumeration value="Vocational: Level 5" />
                    <xs:enumeration value="A/AS Level" />
                    <xs:enumeration value="Secundair" />
                    <xs:enumeration value="Hogeschool" />
                    <xs:enumeration value="Universitair" />
                    <xs:enumeration value="MBO" />
                    <xs:enumeration value="HBO" />
                    <xs:enumeration value="VMBO+" />
                    <xs:enumeration value="MBO+" />
                    <xs:enumeration value="VMBO" />
                    <xs:enumeration value="HBO+" />
                    <xs:enumeration value="WO" />
                    <xs:enumeration value="Master" />
                    <xs:enumeration value="Bachelor" />
                    <xs:enumeration value="MBA" />
                    <xs:enumeration value="Für Fortgeschrittene" />
                    <xs:enumeration value="Für Anfänger" />
                    <xs:enumeration value="Umschulungen" />
                    <xs:enumeration value="Beginner" />
                    <xs:enumeration value="Intermediate" />
                    <xs:enumeration value="Advanced" />
                    <xs:enumeration value="Master" />
                    <xs:enumeration value="Unknown" />
                    <xs:enumeration value="Associate Degree" />
                    <xs:enumeration value="MBA" />
                    <xs:enumeration value="PhD" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element type="xs:string" name="CrohoID" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>This ID can be set by Dutch learning providers that are registered at https://www.duo.nl/zakelijk/hoger-onderwijs/studentenadministratie/</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element type="xs:string" name="CreboID" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>This ID can be set by Dutch learning providers that are registered at https://duo.nl/open_onderwijsdata/databestanden/mbo/crebo/</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="Purpose" minOccurs="0">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:enumeration value="optimally_fit"/>
                    <xs:enumeration value="preventive"/>
                    <xs:enumeration value="back_to_work"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="CostPlacements" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="CostPlacement" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:all>
                          <xs:element name="Go" minOccurs="1">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:enumeration value="klm_vitality" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="Placement">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:enumeration value="employer_pays"/>
                                <xs:enumeration value="employer_pays_after_approval"/>
                                <xs:enumeration value="basic_health_insurance"/>
                                <xs:enumeration value="additional_health_insurance"/>
                                <xs:enumeration value="employee_pays"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                        </xs:all>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="PriceDiscounts">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Discount" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:all>
                          <xs:element name="Go" minOccurs="1">
                            <xs:annotation>
                                <xs:documentation> This list is not all inclusive since there are over 250 domains. For missing domains please contact datasupport@springest.com</xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:enumeration value="aegon" />
                                <xs:enumeration value="alliander" />
                                <xs:enumeration value="bavaria" />
                                <xs:enumeration value="carglass" />
                                <xs:enumeration value="hetcak" />
                                <xs:enumeration value="hu" />
                                <xs:enumeration value="menzis" />
                                <xs:enumeration value="nn" />
                                <xs:enumeration value="postnl" />
                                <xs:enumeration value="siemens" />
                                <xs:enumeration value="stork" />
                                <xs:enumeration value="vvaa" />
                                <xs:enumeration value="vattenfall_nl" />
                                <xs:enumeration value="unie" />
                                <xs:enumeration value="fkb" />
                                <xs:enumeration value="tvm" />
                                <xs:enumeration value="ing" />
                                <xs:enumeration value="volksbank" />
                                <xs:enumeration value="inogy" />
                                <xs:enumeration value="rwe" />
                                <xs:enumeration value="bam" />
                                <xs:enumeration value="t_mobile" />
                                <xs:enumeration value="onvz" />
                                <xs:enumeration value="vanlanschotkempen" />
                                <xs:enumeration value="vivat" />
                                <xs:enumeration value="hollandcasino" />
                                <xs:enumeration value="sweco" />
                                <xs:enumeration value="setarnv" />
                                <xs:enumeration value="ns" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="Percentage" type="xs:double"/>
                        </xs:all>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="PePoints" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="PePoint" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:all>
                          <xs:element name="Organisation" type="xs:string"/>
                          <xs:element name="PointType" type="xs:string"/>
                          <xs:element name="Points" type="xs:double"/>
                        </xs:all>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Moments">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Moment" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Name" minOccurs="1">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:enumeration value="sunday" />
                                <xs:enumeration value="saturday" />
                                <xs:enumeration value="daytime" />
                                <xs:enumeration value="evening" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="StartingDatePlaces">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="StartingDatePlace" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:all>
                          <xs:element type="xs:string" name="ID" minOccurs="0"/>
                          <xs:element name="Startdate" type="xs:date"/>
                          <xs:element name="Place" type="xs:string"/>
                          <xs:element name="StartdateIsMonthOnly">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:enumeration value="true"/>
                                <xs:enumeration value="false"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="Enddate" type="xs:date"/>
                          <xs:element name="EnddateIsMonthOnly">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:enumeration value="true"/>
                                <xs:enumeration value="false"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element type="xs:integer" name="MinNumberOfSeats" minOccurs="0"/>
                          <xs:element type="xs:integer" name="MaxNumberOfSeats" minOccurs="0"/>
                          <xs:element type="xs:integer" name="AvailableSeats" minOccurs="0"/>
                          <xs:element name="StartGuaranteed" minOccurs="0">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:enumeration value="true"/>
                                <xs:enumeration value="false"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="Schedule" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Courseday" minOccurs="0" maxOccurs="unbounded">
                                  <xs:complexType>
                                    <xs:all>
                                      <xs:element name="Date" type="xs:date"/>
                                      <xs:element name="Place" type="xs:string"/>
                                      <xs:element name="Name" type="xs:string"/>
                                      <xs:element name="StartTime" type="xs:string"/>
                                      <xs:element name="EndTime" type="xs:string"/>
                                    </xs:all>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:all>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="customLtiParams">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="customLtiParam" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:all>
                          <xs:element type="xs:string" name="key"/>
                          <xs:element type="xs:string" name="value"/>
                        </xs:all>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:all>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
